Proyecto_fase1/AppCliente/AppCliente/Service References/NavalService/NavalWarsService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WSproyecto1.Objetos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WSproyecto1.Objetos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50364/NavalWarsService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WSproyecto1.Arbol" />
  <xs:complexType name="Persona">
    <xs:sequence>
      <xs:element name="conectado" type="xs:boolean" />
      <xs:element name="mail" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WSproyecto1.Arbol" name="mis_partidas" nillable="true" type="q1:ListaDOfJuego209EgP0h" />
      <xs:element name="password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Persona" nillable="true" type="tns:Persona" />
  <xs:complexType name="Juego">
    <xs:sequence>
      <xs:element name="destruidos" type="xs:int" />
      <xs:element name="gano" type="xs:boolean" />
      <xs:element name="oponente" nillable="true" type="xs:string" />
      <xs:element name="sobrevivientes" type="xs:int" />
      <xs:element name="unidades_desplegadas" type="xs:int" />
      <xs:element name="usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Juego" nillable="true" type="tns:Juego" />
  <xs:complexType name="Unidad">
    <xs:sequence>
      <xs:element name="alcance" type="xs:int" />
      <xs:element name="alcance_" type="xs:int" />
      <xs:element name="danyo" type="xs:int" />
      <xs:element name="duenyo" nillable="true" type="xs:string" />
      <xs:element name="hp" type="xs:int" />
      <xs:element name="movimiento" type="xs:int" />
      <xs:element name="nombre" nillable="true" type="xs:string" />
      <xs:element name="tipo" nillable="true" type="xs:string" />
      <xs:element name="visible" type="xs:boolean" />
      <xs:element name="vivo" type="xs:boolean" />
      <xs:element name="x" nillable="true" type="xs:string" />
      <xs:element name="y" type="xs:int" />
      <xs:element name="z" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Unidad" nillable="true" type="tns:Unidad" />
</xs:schema>