Proyecto_fase1/AppCliente/AppCliente/Service References/NavalService/NavalWarsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NavalWarsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50364/NavalWarsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50364/NavalWarsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50364/NavalWarsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WSproyecto1.Objetos" />
      <xsd:import schemaLocation="http://localhost:50364/NavalWarsService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WSproyecto1.Arbol" />
      <xsd:import schemaLocation="http://localhost:50364/NavalWarsService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WSproyecto1.Nodos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INavalWarsService_newPersona_InputMessage">
    <wsdl:part name="parameters" element="tns:newPersona" />
  </wsdl:message>
  <wsdl:message name="INavalWarsService_newPersona_OutputMessage">
    <wsdl:part name="parameters" element="tns:newPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="INavalWarsService_insertar_InputMessage">
    <wsdl:part name="parameters" element="tns:insertar" />
  </wsdl:message>
  <wsdl:message name="INavalWarsService_insertar_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertarResponse" />
  </wsdl:message>
  <wsdl:message name="INavalWarsService_buscar_InputMessage">
    <wsdl:part name="parameters" element="tns:buscar" />
  </wsdl:message>
  <wsdl:message name="INavalWarsService_buscar_OutputMessage">
    <wsdl:part name="parameters" element="tns:buscarResponse" />
  </wsdl:message>
  <wsdl:message name="INavalWarsService_logIn_InputMessage">
    <wsdl:part name="parameters" element="tns:logIn" />
  </wsdl:message>
  <wsdl:message name="INavalWarsService_logIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:logInResponse" />
  </wsdl:message>
  <wsdl:message name="INavalWarsService_eliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminar" />
  </wsdl:message>
  <wsdl:message name="INavalWarsService_eliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminarResponse" />
  </wsdl:message>
  <wsdl:message name="INavalWarsService_modificar_InputMessage">
    <wsdl:part name="parameters" element="tns:modificar" />
  </wsdl:message>
  <wsdl:message name="INavalWarsService_modificar_OutputMessage">
    <wsdl:part name="parameters" element="tns:modificarResponse" />
  </wsdl:message>
  <wsdl:message name="INavalWarsService_cleanBinario_InputMessage">
    <wsdl:part name="parameters" element="tns:cleanBinario" />
  </wsdl:message>
  <wsdl:message name="INavalWarsService_cleanBinario_OutputMessage">
    <wsdl:part name="parameters" element="tns:cleanBinarioResponse" />
  </wsdl:message>
  <wsdl:message name="INavalWarsService_alturaBinario_InputMessage">
    <wsdl:part name="parameters" element="tns:alturaBinario" />
  </wsdl:message>
  <wsdl:message name="INavalWarsService_alturaBinario_OutputMessage">
    <wsdl:part name="parameters" element="tns:alturaBinarioResponse" />
  </wsdl:message>
  <wsdl:message name="INavalWarsService_hojasBinario_InputMessage">
    <wsdl:part name="parameters" element="tns:hojasBinario" />
  </wsdl:message>
  <wsdl:message name="INavalWarsService_hojasBinario_OutputMessage">
    <wsdl:part name="parameters" element="tns:hojasBinarioResponse" />
  </wsdl:message>
  <wsdl:message name="INavalWarsService_ramasBinario_InputMessage">
    <wsdl:part name="parameters" element="tns:ramasBinario" />
  </wsdl:message>
  <wsdl:message name="INavalWarsService_ramasBinario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ramasBinarioResponse" />
  </wsdl:message>
  <wsdl:message name="INavalWarsService_newJuego_InputMessage">
    <wsdl:part name="parameters" element="tns:newJuego" />
  </wsdl:message>
  <wsdl:message name="INavalWarsService_newJuego_OutputMessage">
    <wsdl:part name="parameters" element="tns:newJuegoResponse" />
  </wsdl:message>
  <wsdl:message name="INavalWarsService_agregarJuego_InputMessage">
    <wsdl:part name="parameters" element="tns:agregarJuego" />
  </wsdl:message>
  <wsdl:message name="INavalWarsService_agregarJuego_OutputMessage">
    <wsdl:part name="parameters" element="tns:agregarJuegoResponse" />
  </wsdl:message>
  <wsdl:message name="INavalWarsService_graficarArbolBinario_InputMessage">
    <wsdl:part name="parameters" element="tns:graficarArbolBinario" />
  </wsdl:message>
  <wsdl:message name="INavalWarsService_graficarArbolBinario_OutputMessage">
    <wsdl:part name="parameters" element="tns:graficarArbolBinarioResponse" />
  </wsdl:message>
  <wsdl:message name="INavalWarsService_graficarArbolBinarioEspejo_InputMessage">
    <wsdl:part name="parameters" element="tns:graficarArbolBinarioEspejo" />
  </wsdl:message>
  <wsdl:message name="INavalWarsService_graficarArbolBinarioEspejo_OutputMessage">
    <wsdl:part name="parameters" element="tns:graficarArbolBinarioEspejoResponse" />
  </wsdl:message>
  <wsdl:message name="INavalWarsService_debug_InputMessage">
    <wsdl:part name="parameters" element="tns:debug" />
  </wsdl:message>
  <wsdl:message name="INavalWarsService_debug_OutputMessage">
    <wsdl:part name="parameters" element="tns:debugResponse" />
  </wsdl:message>
  <wsdl:message name="INavalWarsService_cargaUsuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:cargaUsuarios" />
  </wsdl:message>
  <wsdl:message name="INavalWarsService_cargaUsuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:cargaUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="INavalWarsService_cargaJuegos_InputMessage">
    <wsdl:part name="parameters" element="tns:cargaJuegos" />
  </wsdl:message>
  <wsdl:message name="INavalWarsService_cargaJuegos_OutputMessage">
    <wsdl:part name="parameters" element="tns:cargaJuegosResponse" />
  </wsdl:message>
  <wsdl:message name="INavalWarsService_setParametrosJuego_InputMessage">
    <wsdl:part name="parameters" element="tns:setParametrosJuego" />
  </wsdl:message>
  <wsdl:message name="INavalWarsService_setParametrosJuego_OutputMessage">
    <wsdl:part name="parameters" element="tns:setParametrosJuegoResponse" />
  </wsdl:message>
  <wsdl:message name="INavalWarsService_clearMatriz_InputMessage">
    <wsdl:part name="parameters" element="tns:clearMatriz" />
  </wsdl:message>
  <wsdl:message name="INavalWarsService_clearMatriz_OutputMessage">
    <wsdl:part name="parameters" element="tns:clearMatrizResponse" />
  </wsdl:message>
  <wsdl:message name="INavalWarsService_getNoFilas_InputMessage">
    <wsdl:part name="parameters" element="tns:getNoFilas" />
  </wsdl:message>
  <wsdl:message name="INavalWarsService_getNoFilas_OutputMessage">
    <wsdl:part name="parameters" element="tns:getNoFilasResponse" />
  </wsdl:message>
  <wsdl:message name="INavalWarsService_getNoColumnas_InputMessage">
    <wsdl:part name="parameters" element="tns:getNoColumnas" />
  </wsdl:message>
  <wsdl:message name="INavalWarsService_getNoColumnas_OutputMessage">
    <wsdl:part name="parameters" element="tns:getNoColumnasResponse" />
  </wsdl:message>
  <wsdl:message name="INavalWarsService_getNoUnidades_InputMessage">
    <wsdl:part name="parameters" element="tns:getNoUnidades" />
  </wsdl:message>
  <wsdl:message name="INavalWarsService_getNoUnidades_OutputMessage">
    <wsdl:part name="parameters" element="tns:getNoUnidadesResponse" />
  </wsdl:message>
  <wsdl:message name="INavalWarsService_getNoJugador_InputMessage">
    <wsdl:part name="parameters" element="tns:getNoJugador" />
  </wsdl:message>
  <wsdl:message name="INavalWarsService_getNoJugador_OutputMessage">
    <wsdl:part name="parameters" element="tns:getNoJugadorResponse" />
  </wsdl:message>
  <wsdl:message name="INavalWarsService_setNoJugador_InputMessage">
    <wsdl:part name="parameters" element="tns:setNoJugador" />
  </wsdl:message>
  <wsdl:message name="INavalWarsService_setNoJugador_OutputMessage">
    <wsdl:part name="parameters" element="tns:setNoJugadorResponse" />
  </wsdl:message>
  <wsdl:message name="INavalWarsService_insertarUnidad_InputMessage">
    <wsdl:part name="parameters" element="tns:insertarUnidad" />
  </wsdl:message>
  <wsdl:message name="INavalWarsService_insertarUnidad_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertarUnidadResponse" />
  </wsdl:message>
  <wsdl:message name="INavalWarsService_newUnidad_InputMessage">
    <wsdl:part name="parameters" element="tns:newUnidad" />
  </wsdl:message>
  <wsdl:message name="INavalWarsService_newUnidad_OutputMessage">
    <wsdl:part name="parameters" element="tns:newUnidadResponse" />
  </wsdl:message>
  <wsdl:message name="INavalWarsService_graficarTablero_InputMessage">
    <wsdl:part name="parameters" element="tns:graficarTablero" />
  </wsdl:message>
  <wsdl:message name="INavalWarsService_graficarTablero_OutputMessage">
    <wsdl:part name="parameters" element="tns:graficarTableroResponse" />
  </wsdl:message>
  <wsdl:portType name="INavalWarsService">
    <wsdl:operation name="newPersona">
      <wsdl:input wsaw:Action="http://tempuri.org/INavalWarsService/newPersona" message="tns:INavalWarsService_newPersona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INavalWarsService/newPersonaResponse" message="tns:INavalWarsService_newPersona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertar">
      <wsdl:input wsaw:Action="http://tempuri.org/INavalWarsService/insertar" message="tns:INavalWarsService_insertar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INavalWarsService/insertarResponse" message="tns:INavalWarsService_insertar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="buscar">
      <wsdl:input wsaw:Action="http://tempuri.org/INavalWarsService/buscar" message="tns:INavalWarsService_buscar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INavalWarsService/buscarResponse" message="tns:INavalWarsService_buscar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="logIn">
      <wsdl:input wsaw:Action="http://tempuri.org/INavalWarsService/logIn" message="tns:INavalWarsService_logIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INavalWarsService/logInResponse" message="tns:INavalWarsService_logIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="eliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/INavalWarsService/eliminar" message="tns:INavalWarsService_eliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INavalWarsService/eliminarResponse" message="tns:INavalWarsService_eliminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modificar">
      <wsdl:input wsaw:Action="http://tempuri.org/INavalWarsService/modificar" message="tns:INavalWarsService_modificar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INavalWarsService/modificarResponse" message="tns:INavalWarsService_modificar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="cleanBinario">
      <wsdl:input wsaw:Action="http://tempuri.org/INavalWarsService/cleanBinario" message="tns:INavalWarsService_cleanBinario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INavalWarsService/cleanBinarioResponse" message="tns:INavalWarsService_cleanBinario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="alturaBinario">
      <wsdl:input wsaw:Action="http://tempuri.org/INavalWarsService/alturaBinario" message="tns:INavalWarsService_alturaBinario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INavalWarsService/alturaBinarioResponse" message="tns:INavalWarsService_alturaBinario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="hojasBinario">
      <wsdl:input wsaw:Action="http://tempuri.org/INavalWarsService/hojasBinario" message="tns:INavalWarsService_hojasBinario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INavalWarsService/hojasBinarioResponse" message="tns:INavalWarsService_hojasBinario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ramasBinario">
      <wsdl:input wsaw:Action="http://tempuri.org/INavalWarsService/ramasBinario" message="tns:INavalWarsService_ramasBinario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INavalWarsService/ramasBinarioResponse" message="tns:INavalWarsService_ramasBinario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="newJuego">
      <wsdl:input wsaw:Action="http://tempuri.org/INavalWarsService/newJuego" message="tns:INavalWarsService_newJuego_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INavalWarsService/newJuegoResponse" message="tns:INavalWarsService_newJuego_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="agregarJuego">
      <wsdl:input wsaw:Action="http://tempuri.org/INavalWarsService/agregarJuego" message="tns:INavalWarsService_agregarJuego_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INavalWarsService/agregarJuegoResponse" message="tns:INavalWarsService_agregarJuego_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="graficarArbolBinario">
      <wsdl:input wsaw:Action="http://tempuri.org/INavalWarsService/graficarArbolBinario" message="tns:INavalWarsService_graficarArbolBinario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INavalWarsService/graficarArbolBinarioResponse" message="tns:INavalWarsService_graficarArbolBinario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="graficarArbolBinarioEspejo">
      <wsdl:input wsaw:Action="http://tempuri.org/INavalWarsService/graficarArbolBinarioEspejo" message="tns:INavalWarsService_graficarArbolBinarioEspejo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INavalWarsService/graficarArbolBinarioEspejoResponse" message="tns:INavalWarsService_graficarArbolBinarioEspejo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="debug">
      <wsdl:input wsaw:Action="http://tempuri.org/INavalWarsService/debug" message="tns:INavalWarsService_debug_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INavalWarsService/debugResponse" message="tns:INavalWarsService_debug_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="cargaUsuarios">
      <wsdl:input wsaw:Action="http://tempuri.org/INavalWarsService/cargaUsuarios" message="tns:INavalWarsService_cargaUsuarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INavalWarsService/cargaUsuariosResponse" message="tns:INavalWarsService_cargaUsuarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="cargaJuegos">
      <wsdl:input wsaw:Action="http://tempuri.org/INavalWarsService/cargaJuegos" message="tns:INavalWarsService_cargaJuegos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INavalWarsService/cargaJuegosResponse" message="tns:INavalWarsService_cargaJuegos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setParametrosJuego">
      <wsdl:input wsaw:Action="http://tempuri.org/INavalWarsService/setParametrosJuego" message="tns:INavalWarsService_setParametrosJuego_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INavalWarsService/setParametrosJuegoResponse" message="tns:INavalWarsService_setParametrosJuego_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="clearMatriz">
      <wsdl:input wsaw:Action="http://tempuri.org/INavalWarsService/clearMatriz" message="tns:INavalWarsService_clearMatriz_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INavalWarsService/clearMatrizResponse" message="tns:INavalWarsService_clearMatriz_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getNoFilas">
      <wsdl:input wsaw:Action="http://tempuri.org/INavalWarsService/getNoFilas" message="tns:INavalWarsService_getNoFilas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INavalWarsService/getNoFilasResponse" message="tns:INavalWarsService_getNoFilas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getNoColumnas">
      <wsdl:input wsaw:Action="http://tempuri.org/INavalWarsService/getNoColumnas" message="tns:INavalWarsService_getNoColumnas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INavalWarsService/getNoColumnasResponse" message="tns:INavalWarsService_getNoColumnas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getNoUnidades">
      <wsdl:input wsaw:Action="http://tempuri.org/INavalWarsService/getNoUnidades" message="tns:INavalWarsService_getNoUnidades_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INavalWarsService/getNoUnidadesResponse" message="tns:INavalWarsService_getNoUnidades_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getNoJugador">
      <wsdl:input wsaw:Action="http://tempuri.org/INavalWarsService/getNoJugador" message="tns:INavalWarsService_getNoJugador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INavalWarsService/getNoJugadorResponse" message="tns:INavalWarsService_getNoJugador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setNoJugador">
      <wsdl:input wsaw:Action="http://tempuri.org/INavalWarsService/setNoJugador" message="tns:INavalWarsService_setNoJugador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INavalWarsService/setNoJugadorResponse" message="tns:INavalWarsService_setNoJugador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertarUnidad">
      <wsdl:input wsaw:Action="http://tempuri.org/INavalWarsService/insertarUnidad" message="tns:INavalWarsService_insertarUnidad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INavalWarsService/insertarUnidadResponse" message="tns:INavalWarsService_insertarUnidad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="newUnidad">
      <wsdl:input wsaw:Action="http://tempuri.org/INavalWarsService/newUnidad" message="tns:INavalWarsService_newUnidad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INavalWarsService/newUnidadResponse" message="tns:INavalWarsService_newUnidad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="graficarTablero">
      <wsdl:input wsaw:Action="http://tempuri.org/INavalWarsService/graficarTablero" message="tns:INavalWarsService_graficarTablero_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INavalWarsService/graficarTableroResponse" message="tns:INavalWarsService_graficarTablero_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INavalWarsService" type="tns:INavalWarsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="newPersona">
      <soap:operation soapAction="http://tempuri.org/INavalWarsService/newPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertar">
      <soap:operation soapAction="http://tempuri.org/INavalWarsService/insertar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscar">
      <soap:operation soapAction="http://tempuri.org/INavalWarsService/buscar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logIn">
      <soap:operation soapAction="http://tempuri.org/INavalWarsService/logIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminar">
      <soap:operation soapAction="http://tempuri.org/INavalWarsService/eliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificar">
      <soap:operation soapAction="http://tempuri.org/INavalWarsService/modificar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cleanBinario">
      <soap:operation soapAction="http://tempuri.org/INavalWarsService/cleanBinario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="alturaBinario">
      <soap:operation soapAction="http://tempuri.org/INavalWarsService/alturaBinario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hojasBinario">
      <soap:operation soapAction="http://tempuri.org/INavalWarsService/hojasBinario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ramasBinario">
      <soap:operation soapAction="http://tempuri.org/INavalWarsService/ramasBinario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="newJuego">
      <soap:operation soapAction="http://tempuri.org/INavalWarsService/newJuego" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarJuego">
      <soap:operation soapAction="http://tempuri.org/INavalWarsService/agregarJuego" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="graficarArbolBinario">
      <soap:operation soapAction="http://tempuri.org/INavalWarsService/graficarArbolBinario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="graficarArbolBinarioEspejo">
      <soap:operation soapAction="http://tempuri.org/INavalWarsService/graficarArbolBinarioEspejo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="debug">
      <soap:operation soapAction="http://tempuri.org/INavalWarsService/debug" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargaUsuarios">
      <soap:operation soapAction="http://tempuri.org/INavalWarsService/cargaUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargaJuegos">
      <soap:operation soapAction="http://tempuri.org/INavalWarsService/cargaJuegos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setParametrosJuego">
      <soap:operation soapAction="http://tempuri.org/INavalWarsService/setParametrosJuego" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="clearMatriz">
      <soap:operation soapAction="http://tempuri.org/INavalWarsService/clearMatriz" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNoFilas">
      <soap:operation soapAction="http://tempuri.org/INavalWarsService/getNoFilas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNoColumnas">
      <soap:operation soapAction="http://tempuri.org/INavalWarsService/getNoColumnas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNoUnidades">
      <soap:operation soapAction="http://tempuri.org/INavalWarsService/getNoUnidades" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNoJugador">
      <soap:operation soapAction="http://tempuri.org/INavalWarsService/getNoJugador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setNoJugador">
      <soap:operation soapAction="http://tempuri.org/INavalWarsService/setNoJugador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarUnidad">
      <soap:operation soapAction="http://tempuri.org/INavalWarsService/insertarUnidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="newUnidad">
      <soap:operation soapAction="http://tempuri.org/INavalWarsService/newUnidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="graficarTablero">
      <soap:operation soapAction="http://tempuri.org/INavalWarsService/graficarTablero" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NavalWarsService">
    <wsdl:port name="BasicHttpBinding_INavalWarsService" binding="tns:BasicHttpBinding_INavalWarsService">
      <soap:address location="http://localhost:50364/NavalWarsService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>