Proyecto_fase1/WSproyecto1/WebApplication1/Service References/NavalWarsWS/NavalWarsService22.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WSproyecto1.Arbol" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WSproyecto1.Arbol" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50364/NavalWarsService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WSproyecto1.Nodos" />
  <xs:complexType name="ArbolBinario">
    <xs:sequence>
      <xs:element name="count" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WSproyecto1.Nodos" name="raiz" nillable="true" type="q1:Nodo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArbolBinario" nillable="true" type="tns:ArbolBinario" />
</xs:schema>