Proyecto_fase1/WSproyecto1/WebApplication1/Service References/NavalWarsWS/NavalWarsService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50364/NavalWarsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WSproyecto1.Objetos" />
  <xs:import schemaLocation="http://localhost:50364/NavalWarsService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WSproyecto1.Arbol" />
  <xs:import schemaLocation="http://localhost:50364/NavalWarsService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WSproyecto1.Nodos" />
  <xs:element name="newPersona">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="newPersonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WSproyecto1.Objetos" minOccurs="0" name="newPersonaResult" nillable="true" type="q1:Persona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="newArbolBinario">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="newArbolBinarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WSproyecto1.Arbol" minOccurs="0" name="newArbolBinarioResult" nillable="true" type="q2:ArbolBinario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isEmpty">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WSproyecto1.Arbol" minOccurs="0" name="arbol_binario" nillable="true" type="q3:ArbolBinario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isEmptyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isEmptyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nick" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WSproyecto1.Objetos" minOccurs="0" name="persona" nillable="true" type="q4:Persona" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WSproyecto1.Arbol" minOccurs="0" name="arbol_binario" nillable="true" type="q5:ArbolBinario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WSproyecto1.Arbol" minOccurs="0" name="insertarResult" nillable="true" type="q6:ArbolBinario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nick" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WSproyecto1.Arbol" minOccurs="0" name="arbol_binario" nillable="true" type="q7:ArbolBinario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WSproyecto1.Nodos" minOccurs="0" name="buscarResult" nillable="true" type="q8:Nodo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nick" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WSproyecto1.Arbol" minOccurs="0" name="arbol_binario" nillable="true" type="q9:ArbolBinario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WSproyecto1.Arbol" minOccurs="0" name="eliminarResult" nillable="true" type="q10:ArbolBinario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nick" nillable="true" type="xs:string" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WSproyecto1.Objetos" minOccurs="0" name="persona" nillable="true" type="q11:Persona" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WSproyecto1.Arbol" minOccurs="0" name="arbol_binario" nillable="true" type="q12:ArbolBinario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WSproyecto1.Arbol" minOccurs="0" name="modificarResult" nillable="true" type="q13:ArbolBinario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="graficarArbolBinario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WSproyecto1.Arbol" minOccurs="0" name="arbol_binario" nillable="true" type="q14:ArbolBinario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="graficarArbolBinarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="graficarArbolBinarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargaUsuarios">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WSproyecto1.Arbol" minOccurs="0" name="arbol_usuarios" nillable="true" type="q15:ArbolBinario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargaUsuariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WSproyecto1.Arbol" minOccurs="0" name="cargaUsuariosResult" nillable="true" type="q16:ArbolBinario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>