Proyecto_fase2/WSnaval_wars/ClienteAdmin/Service References/NWwervice/NavalWarsWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="binarioInsertar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nick" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="binarioInsertarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="binarioInsertarResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="binarioBuscar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nick" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="binarioBuscarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="binarioBuscarResult" type="tns:Persona" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Persona">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="juegos" type="tns:ListaDOfJuego" />
          <s:element minOccurs="0" maxOccurs="1" name="contactos" type="tns:AVLOfPersona" />
          <s:element minOccurs="1" maxOccurs="1" name="Conectado" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ListaDOfJuego">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="raiz" type="tns:NodoDOfJuego" />
          <s:element minOccurs="0" maxOccurs="1" name="fin" type="tns:NodoDOfJuego" />
          <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NodoDOfJuego">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="siguiente" type="tns:NodoDOfJuego" />
          <s:element minOccurs="0" maxOccurs="1" name="Item" type="tns:Juego" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Juego">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Oponente" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Unidades_desplegadas" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Unidades_sobrevivientes" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Unidades_destruidas_por_mi" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Gane" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AVLOfPersona">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="raiz" type="tns:NodoOfPersona" />
          <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NodoOfPersona">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="izq" type="tns:NodoOfPersona" />
          <s:element minOccurs="0" maxOccurs="1" name="der" type="tns:NodoOfPersona" />
          <s:element minOccurs="0" maxOccurs="1" name="Item" type="tns:Persona" />
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Altura" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="binarioModificar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nick" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="conectado" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="binarioModificarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="binarioModificarResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="binarioEliminar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nick" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="binarioEliminarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="binarioEliminarResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="binarioCargaMasiva">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="binarioCargaMasivaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="binarioCargaMasivaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="binarioCargaJuegos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="binarioCargaJuegosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="binarioCargaJuegosResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listarUsuarios">
        <s:complexType />
      </s:element>
      <s:element name="listarUsuariosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listarUsuariosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="bSetGrado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="grado" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="bSetGradoResponse">
        <s:complexType />
      </s:element>
      <s:element name="bSetPatron">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="patron" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="bSetPatronResponse">
        <s:complexType />
      </s:element>
      <s:element name="bCargaMasiva">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="bCargaMasivaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="bCargaMasivaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="avlInsertar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nick" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nick_contacto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mail_contacto" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="avlInsertarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="avlInsertarResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ortogonalMaxFilasColumnas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="filas" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="columnas" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ortogonalMaxFilasColumnasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ortogonalMaxFilasColumnasResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="graficarBinario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ruta_destino" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre_dot" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre_png" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="graficarBinarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="graficarBinarioResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="graficarEspejo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ruta_destino" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre_dot" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre_png" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="graficarEspejoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="graficarEspejoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="binarioHojas">
        <s:complexType />
      </s:element>
      <s:element name="binarioHojasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="binarioHojasResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="binarioAltura">
        <s:complexType />
      </s:element>
      <s:element name="binarioAlturaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="binarioAlturaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="binarioRamas">
        <s:complexType />
      </s:element>
      <s:element name="binarioRamasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="binarioRamasResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="binarioInsertarSoapIn">
    <wsdl:part name="parameters" element="tns:binarioInsertar" />
  </wsdl:message>
  <wsdl:message name="binarioInsertarSoapOut">
    <wsdl:part name="parameters" element="tns:binarioInsertarResponse" />
  </wsdl:message>
  <wsdl:message name="binarioBuscarSoapIn">
    <wsdl:part name="parameters" element="tns:binarioBuscar" />
  </wsdl:message>
  <wsdl:message name="binarioBuscarSoapOut">
    <wsdl:part name="parameters" element="tns:binarioBuscarResponse" />
  </wsdl:message>
  <wsdl:message name="binarioModificarSoapIn">
    <wsdl:part name="parameters" element="tns:binarioModificar" />
  </wsdl:message>
  <wsdl:message name="binarioModificarSoapOut">
    <wsdl:part name="parameters" element="tns:binarioModificarResponse" />
  </wsdl:message>
  <wsdl:message name="binarioEliminarSoapIn">
    <wsdl:part name="parameters" element="tns:binarioEliminar" />
  </wsdl:message>
  <wsdl:message name="binarioEliminarSoapOut">
    <wsdl:part name="parameters" element="tns:binarioEliminarResponse" />
  </wsdl:message>
  <wsdl:message name="binarioCargaMasivaSoapIn">
    <wsdl:part name="parameters" element="tns:binarioCargaMasiva" />
  </wsdl:message>
  <wsdl:message name="binarioCargaMasivaSoapOut">
    <wsdl:part name="parameters" element="tns:binarioCargaMasivaResponse" />
  </wsdl:message>
  <wsdl:message name="binarioCargaJuegosSoapIn">
    <wsdl:part name="parameters" element="tns:binarioCargaJuegos" />
  </wsdl:message>
  <wsdl:message name="binarioCargaJuegosSoapOut">
    <wsdl:part name="parameters" element="tns:binarioCargaJuegosResponse" />
  </wsdl:message>
  <wsdl:message name="listarUsuariosSoapIn">
    <wsdl:part name="parameters" element="tns:listarUsuarios" />
  </wsdl:message>
  <wsdl:message name="listarUsuariosSoapOut">
    <wsdl:part name="parameters" element="tns:listarUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="bSetGradoSoapIn">
    <wsdl:part name="parameters" element="tns:bSetGrado" />
  </wsdl:message>
  <wsdl:message name="bSetGradoSoapOut">
    <wsdl:part name="parameters" element="tns:bSetGradoResponse" />
  </wsdl:message>
  <wsdl:message name="bSetPatronSoapIn">
    <wsdl:part name="parameters" element="tns:bSetPatron" />
  </wsdl:message>
  <wsdl:message name="bSetPatronSoapOut">
    <wsdl:part name="parameters" element="tns:bSetPatronResponse" />
  </wsdl:message>
  <wsdl:message name="bCargaMasivaSoapIn">
    <wsdl:part name="parameters" element="tns:bCargaMasiva" />
  </wsdl:message>
  <wsdl:message name="bCargaMasivaSoapOut">
    <wsdl:part name="parameters" element="tns:bCargaMasivaResponse" />
  </wsdl:message>
  <wsdl:message name="avlInsertarSoapIn">
    <wsdl:part name="parameters" element="tns:avlInsertar" />
  </wsdl:message>
  <wsdl:message name="avlInsertarSoapOut">
    <wsdl:part name="parameters" element="tns:avlInsertarResponse" />
  </wsdl:message>
  <wsdl:message name="ortogonalMaxFilasColumnasSoapIn">
    <wsdl:part name="parameters" element="tns:ortogonalMaxFilasColumnas" />
  </wsdl:message>
  <wsdl:message name="ortogonalMaxFilasColumnasSoapOut">
    <wsdl:part name="parameters" element="tns:ortogonalMaxFilasColumnasResponse" />
  </wsdl:message>
  <wsdl:message name="graficarBinarioSoapIn">
    <wsdl:part name="parameters" element="tns:graficarBinario" />
  </wsdl:message>
  <wsdl:message name="graficarBinarioSoapOut">
    <wsdl:part name="parameters" element="tns:graficarBinarioResponse" />
  </wsdl:message>
  <wsdl:message name="graficarEspejoSoapIn">
    <wsdl:part name="parameters" element="tns:graficarEspejo" />
  </wsdl:message>
  <wsdl:message name="graficarEspejoSoapOut">
    <wsdl:part name="parameters" element="tns:graficarEspejoResponse" />
  </wsdl:message>
  <wsdl:message name="binarioHojasSoapIn">
    <wsdl:part name="parameters" element="tns:binarioHojas" />
  </wsdl:message>
  <wsdl:message name="binarioHojasSoapOut">
    <wsdl:part name="parameters" element="tns:binarioHojasResponse" />
  </wsdl:message>
  <wsdl:message name="binarioAlturaSoapIn">
    <wsdl:part name="parameters" element="tns:binarioAltura" />
  </wsdl:message>
  <wsdl:message name="binarioAlturaSoapOut">
    <wsdl:part name="parameters" element="tns:binarioAlturaResponse" />
  </wsdl:message>
  <wsdl:message name="binarioRamasSoapIn">
    <wsdl:part name="parameters" element="tns:binarioRamas" />
  </wsdl:message>
  <wsdl:message name="binarioRamasSoapOut">
    <wsdl:part name="parameters" element="tns:binarioRamasResponse" />
  </wsdl:message>
  <wsdl:portType name="NavalWarsWSSoap">
    <wsdl:operation name="binarioInsertar">
      <wsdl:input message="tns:binarioInsertarSoapIn" />
      <wsdl:output message="tns:binarioInsertarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="binarioBuscar">
      <wsdl:input message="tns:binarioBuscarSoapIn" />
      <wsdl:output message="tns:binarioBuscarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="binarioModificar">
      <wsdl:input message="tns:binarioModificarSoapIn" />
      <wsdl:output message="tns:binarioModificarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="binarioEliminar">
      <wsdl:input message="tns:binarioEliminarSoapIn" />
      <wsdl:output message="tns:binarioEliminarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="binarioCargaMasiva">
      <wsdl:input message="tns:binarioCargaMasivaSoapIn" />
      <wsdl:output message="tns:binarioCargaMasivaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="binarioCargaJuegos">
      <wsdl:input message="tns:binarioCargaJuegosSoapIn" />
      <wsdl:output message="tns:binarioCargaJuegosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listarUsuarios">
      <wsdl:input message="tns:listarUsuariosSoapIn" />
      <wsdl:output message="tns:listarUsuariosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="bSetGrado">
      <wsdl:input message="tns:bSetGradoSoapIn" />
      <wsdl:output message="tns:bSetGradoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="bSetPatron">
      <wsdl:input message="tns:bSetPatronSoapIn" />
      <wsdl:output message="tns:bSetPatronSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="bCargaMasiva">
      <wsdl:input message="tns:bCargaMasivaSoapIn" />
      <wsdl:output message="tns:bCargaMasivaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="avlInsertar">
      <wsdl:input message="tns:avlInsertarSoapIn" />
      <wsdl:output message="tns:avlInsertarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ortogonalMaxFilasColumnas">
      <wsdl:input message="tns:ortogonalMaxFilasColumnasSoapIn" />
      <wsdl:output message="tns:ortogonalMaxFilasColumnasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="graficarBinario">
      <wsdl:input message="tns:graficarBinarioSoapIn" />
      <wsdl:output message="tns:graficarBinarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="graficarEspejo">
      <wsdl:input message="tns:graficarEspejoSoapIn" />
      <wsdl:output message="tns:graficarEspejoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="binarioHojas">
      <wsdl:input message="tns:binarioHojasSoapIn" />
      <wsdl:output message="tns:binarioHojasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="binarioAltura">
      <wsdl:input message="tns:binarioAlturaSoapIn" />
      <wsdl:output message="tns:binarioAlturaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="binarioRamas">
      <wsdl:input message="tns:binarioRamasSoapIn" />
      <wsdl:output message="tns:binarioRamasSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NavalWarsWSSoap" type="tns:NavalWarsWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="binarioInsertar">
      <soap:operation soapAction="http://tempuri.org/binarioInsertar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="binarioBuscar">
      <soap:operation soapAction="http://tempuri.org/binarioBuscar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="binarioModificar">
      <soap:operation soapAction="http://tempuri.org/binarioModificar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="binarioEliminar">
      <soap:operation soapAction="http://tempuri.org/binarioEliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="binarioCargaMasiva">
      <soap:operation soapAction="http://tempuri.org/binarioCargaMasiva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="binarioCargaJuegos">
      <soap:operation soapAction="http://tempuri.org/binarioCargaJuegos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarUsuarios">
      <soap:operation soapAction="http://tempuri.org/listarUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bSetGrado">
      <soap:operation soapAction="http://tempuri.org/bSetGrado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bSetPatron">
      <soap:operation soapAction="http://tempuri.org/bSetPatron" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bCargaMasiva">
      <soap:operation soapAction="http://tempuri.org/bCargaMasiva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="avlInsertar">
      <soap:operation soapAction="http://tempuri.org/avlInsertar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ortogonalMaxFilasColumnas">
      <soap:operation soapAction="http://tempuri.org/ortogonalMaxFilasColumnas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="graficarBinario">
      <soap:operation soapAction="http://tempuri.org/graficarBinario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="graficarEspejo">
      <soap:operation soapAction="http://tempuri.org/graficarEspejo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="binarioHojas">
      <soap:operation soapAction="http://tempuri.org/binarioHojas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="binarioAltura">
      <soap:operation soapAction="http://tempuri.org/binarioAltura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="binarioRamas">
      <soap:operation soapAction="http://tempuri.org/binarioRamas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NavalWarsWSSoap12" type="tns:NavalWarsWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="binarioInsertar">
      <soap12:operation soapAction="http://tempuri.org/binarioInsertar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="binarioBuscar">
      <soap12:operation soapAction="http://tempuri.org/binarioBuscar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="binarioModificar">
      <soap12:operation soapAction="http://tempuri.org/binarioModificar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="binarioEliminar">
      <soap12:operation soapAction="http://tempuri.org/binarioEliminar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="binarioCargaMasiva">
      <soap12:operation soapAction="http://tempuri.org/binarioCargaMasiva" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="binarioCargaJuegos">
      <soap12:operation soapAction="http://tempuri.org/binarioCargaJuegos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarUsuarios">
      <soap12:operation soapAction="http://tempuri.org/listarUsuarios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bSetGrado">
      <soap12:operation soapAction="http://tempuri.org/bSetGrado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bSetPatron">
      <soap12:operation soapAction="http://tempuri.org/bSetPatron" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bCargaMasiva">
      <soap12:operation soapAction="http://tempuri.org/bCargaMasiva" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="avlInsertar">
      <soap12:operation soapAction="http://tempuri.org/avlInsertar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ortogonalMaxFilasColumnas">
      <soap12:operation soapAction="http://tempuri.org/ortogonalMaxFilasColumnas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="graficarBinario">
      <soap12:operation soapAction="http://tempuri.org/graficarBinario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="graficarEspejo">
      <soap12:operation soapAction="http://tempuri.org/graficarEspejo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="binarioHojas">
      <soap12:operation soapAction="http://tempuri.org/binarioHojas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="binarioAltura">
      <soap12:operation soapAction="http://tempuri.org/binarioAltura" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="binarioRamas">
      <soap12:operation soapAction="http://tempuri.org/binarioRamas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NavalWarsWS">
    <wsdl:port name="NavalWarsWSSoap" binding="tns:NavalWarsWSSoap">
      <soap:address location="http://localhost:52755/NavalWarsWS.asmx" />
    </wsdl:port>
    <wsdl:port name="NavalWarsWSSoap12" binding="tns:NavalWarsWSSoap12">
      <soap12:address location="http://localhost:52755/NavalWarsWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>