Proyecto_fase2/WSnaval_wars/ClienteAdmin/Service References/NWwervice/NavalWarsWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="binarioInsertar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nick" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="binarioInsertarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="binarioInsertarResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="binarioBuscar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nick" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="binarioBuscarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="binarioBuscarResult" type="tns:Persona" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Persona">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="juegos" type="tns:ListaDOfJuego" />
          <s:element minOccurs="1" maxOccurs="1" name="Conectado" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ListaDOfJuego">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="raiz" type="tns:NodoDOfJuego" />
          <s:element minOccurs="0" maxOccurs="1" name="fin" type="tns:NodoDOfJuego" />
          <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NodoDOfJuego">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="siguiente" type="tns:NodoDOfJuego" />
          <s:element minOccurs="0" maxOccurs="1" name="Item" type="tns:Juego" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Juego">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Oponente" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Unidades_desplegadas" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Unidades_sobrevivientes" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Unidades_destruidas_por_mi" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Gane" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="binarioModificar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nick" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="conectado" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="binarioModificarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="binarioModificarResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="binarioEliminar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nick" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="binarioEliminarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="binarioEliminarResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="binarioCargaMasiva">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="binarioCargaMasivaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="binarioCargaMasivaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="binarioCargaJuegos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="binarioCargaJuegosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="binarioCargaJuegosResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listarUsuarios">
        <s:complexType />
      </s:element>
      <s:element name="listarUsuariosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listarUsuariosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="bSetGrado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="grado" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="bSetGradoResponse">
        <s:complexType />
      </s:element>
      <s:element name="bSetPatron">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="patron" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="bSetPatronResponse">
        <s:complexType />
      </s:element>
      <s:element name="bCargaMasiva">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="bCargaMasivaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="bCargaMasivaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="debugJuego">
        <s:complexType />
      </s:element>
      <s:element name="debugJuegoResponse">
        <s:complexType />
      </s:element>
      <s:element name="debugMord">
        <s:complexType />
      </s:element>
      <s:element name="debugMordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="debugMordResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="binarioInsertarSoapIn">
    <wsdl:part name="parameters" element="tns:binarioInsertar" />
  </wsdl:message>
  <wsdl:message name="binarioInsertarSoapOut">
    <wsdl:part name="parameters" element="tns:binarioInsertarResponse" />
  </wsdl:message>
  <wsdl:message name="binarioBuscarSoapIn">
    <wsdl:part name="parameters" element="tns:binarioBuscar" />
  </wsdl:message>
  <wsdl:message name="binarioBuscarSoapOut">
    <wsdl:part name="parameters" element="tns:binarioBuscarResponse" />
  </wsdl:message>
  <wsdl:message name="binarioModificarSoapIn">
    <wsdl:part name="parameters" element="tns:binarioModificar" />
  </wsdl:message>
  <wsdl:message name="binarioModificarSoapOut">
    <wsdl:part name="parameters" element="tns:binarioModificarResponse" />
  </wsdl:message>
  <wsdl:message name="binarioEliminarSoapIn">
    <wsdl:part name="parameters" element="tns:binarioEliminar" />
  </wsdl:message>
  <wsdl:message name="binarioEliminarSoapOut">
    <wsdl:part name="parameters" element="tns:binarioEliminarResponse" />
  </wsdl:message>
  <wsdl:message name="binarioCargaMasivaSoapIn">
    <wsdl:part name="parameters" element="tns:binarioCargaMasiva" />
  </wsdl:message>
  <wsdl:message name="binarioCargaMasivaSoapOut">
    <wsdl:part name="parameters" element="tns:binarioCargaMasivaResponse" />
  </wsdl:message>
  <wsdl:message name="binarioCargaJuegosSoapIn">
    <wsdl:part name="parameters" element="tns:binarioCargaJuegos" />
  </wsdl:message>
  <wsdl:message name="binarioCargaJuegosSoapOut">
    <wsdl:part name="parameters" element="tns:binarioCargaJuegosResponse" />
  </wsdl:message>
  <wsdl:message name="listarUsuariosSoapIn">
    <wsdl:part name="parameters" element="tns:listarUsuarios" />
  </wsdl:message>
  <wsdl:message name="listarUsuariosSoapOut">
    <wsdl:part name="parameters" element="tns:listarUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="bSetGradoSoapIn">
    <wsdl:part name="parameters" element="tns:bSetGrado" />
  </wsdl:message>
  <wsdl:message name="bSetGradoSoapOut">
    <wsdl:part name="parameters" element="tns:bSetGradoResponse" />
  </wsdl:message>
  <wsdl:message name="bSetPatronSoapIn">
    <wsdl:part name="parameters" element="tns:bSetPatron" />
  </wsdl:message>
  <wsdl:message name="bSetPatronSoapOut">
    <wsdl:part name="parameters" element="tns:bSetPatronResponse" />
  </wsdl:message>
  <wsdl:message name="bCargaMasivaSoapIn">
    <wsdl:part name="parameters" element="tns:bCargaMasiva" />
  </wsdl:message>
  <wsdl:message name="bCargaMasivaSoapOut">
    <wsdl:part name="parameters" element="tns:bCargaMasivaResponse" />
  </wsdl:message>
  <wsdl:message name="debugJuegoSoapIn">
    <wsdl:part name="parameters" element="tns:debugJuego" />
  </wsdl:message>
  <wsdl:message name="debugJuegoSoapOut">
    <wsdl:part name="parameters" element="tns:debugJuegoResponse" />
  </wsdl:message>
  <wsdl:message name="debugMordSoapIn">
    <wsdl:part name="parameters" element="tns:debugMord" />
  </wsdl:message>
  <wsdl:message name="debugMordSoapOut">
    <wsdl:part name="parameters" element="tns:debugMordResponse" />
  </wsdl:message>
  <wsdl:portType name="NavalWarsWSSoap">
    <wsdl:operation name="binarioInsertar">
      <wsdl:input message="tns:binarioInsertarSoapIn" />
      <wsdl:output message="tns:binarioInsertarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="binarioBuscar">
      <wsdl:input message="tns:binarioBuscarSoapIn" />
      <wsdl:output message="tns:binarioBuscarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="binarioModificar">
      <wsdl:input message="tns:binarioModificarSoapIn" />
      <wsdl:output message="tns:binarioModificarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="binarioEliminar">
      <wsdl:input message="tns:binarioEliminarSoapIn" />
      <wsdl:output message="tns:binarioEliminarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="binarioCargaMasiva">
      <wsdl:input message="tns:binarioCargaMasivaSoapIn" />
      <wsdl:output message="tns:binarioCargaMasivaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="binarioCargaJuegos">
      <wsdl:input message="tns:binarioCargaJuegosSoapIn" />
      <wsdl:output message="tns:binarioCargaJuegosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listarUsuarios">
      <wsdl:input message="tns:listarUsuariosSoapIn" />
      <wsdl:output message="tns:listarUsuariosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="bSetGrado">
      <wsdl:input message="tns:bSetGradoSoapIn" />
      <wsdl:output message="tns:bSetGradoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="bSetPatron">
      <wsdl:input message="tns:bSetPatronSoapIn" />
      <wsdl:output message="tns:bSetPatronSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="bCargaMasiva">
      <wsdl:input message="tns:bCargaMasivaSoapIn" />
      <wsdl:output message="tns:bCargaMasivaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="debugJuego">
      <wsdl:input message="tns:debugJuegoSoapIn" />
      <wsdl:output message="tns:debugJuegoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="debugMord">
      <wsdl:input message="tns:debugMordSoapIn" />
      <wsdl:output message="tns:debugMordSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NavalWarsWSSoap" type="tns:NavalWarsWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="binarioInsertar">
      <soap:operation soapAction="http://tempuri.org/binarioInsertar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="binarioBuscar">
      <soap:operation soapAction="http://tempuri.org/binarioBuscar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="binarioModificar">
      <soap:operation soapAction="http://tempuri.org/binarioModificar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="binarioEliminar">
      <soap:operation soapAction="http://tempuri.org/binarioEliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="binarioCargaMasiva">
      <soap:operation soapAction="http://tempuri.org/binarioCargaMasiva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="binarioCargaJuegos">
      <soap:operation soapAction="http://tempuri.org/binarioCargaJuegos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarUsuarios">
      <soap:operation soapAction="http://tempuri.org/listarUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bSetGrado">
      <soap:operation soapAction="http://tempuri.org/bSetGrado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bSetPatron">
      <soap:operation soapAction="http://tempuri.org/bSetPatron" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bCargaMasiva">
      <soap:operation soapAction="http://tempuri.org/bCargaMasiva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="debugJuego">
      <soap:operation soapAction="http://tempuri.org/debugJuego" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="debugMord">
      <soap:operation soapAction="http://tempuri.org/debugMord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NavalWarsWSSoap12" type="tns:NavalWarsWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="binarioInsertar">
      <soap12:operation soapAction="http://tempuri.org/binarioInsertar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="binarioBuscar">
      <soap12:operation soapAction="http://tempuri.org/binarioBuscar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="binarioModificar">
      <soap12:operation soapAction="http://tempuri.org/binarioModificar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="binarioEliminar">
      <soap12:operation soapAction="http://tempuri.org/binarioEliminar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="binarioCargaMasiva">
      <soap12:operation soapAction="http://tempuri.org/binarioCargaMasiva" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="binarioCargaJuegos">
      <soap12:operation soapAction="http://tempuri.org/binarioCargaJuegos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarUsuarios">
      <soap12:operation soapAction="http://tempuri.org/listarUsuarios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bSetGrado">
      <soap12:operation soapAction="http://tempuri.org/bSetGrado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bSetPatron">
      <soap12:operation soapAction="http://tempuri.org/bSetPatron" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bCargaMasiva">
      <soap12:operation soapAction="http://tempuri.org/bCargaMasiva" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="debugJuego">
      <soap12:operation soapAction="http://tempuri.org/debugJuego" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="debugMord">
      <soap12:operation soapAction="http://tempuri.org/debugMord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NavalWarsWS">
    <wsdl:port name="NavalWarsWSSoap" binding="tns:NavalWarsWSSoap">
      <soap:address location="http://localhost:52755/NavalWarsWS.asmx" />
    </wsdl:port>
    <wsdl:port name="NavalWarsWSSoap12" binding="tns:NavalWarsWSSoap12">
      <soap12:address location="http://localhost:52755/NavalWarsWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>