Proyecto_fase1/TestService/TestWeb/Service References/TestService/ServiceClasses.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceClasses" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54374/ServiceClasses.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54374/ServiceClasses.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54374/ServiceClasses.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TestService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceClasses_getPersona_InputMessage">
    <wsdl:part name="parameters" element="tns:getPersona" />
  </wsdl:message>
  <wsdl:message name="IServiceClasses_getPersona_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceClasses_getFactorial_InputMessage">
    <wsdl:part name="parameters" element="tns:getFactorial" />
  </wsdl:message>
  <wsdl:message name="IServiceClasses_getFactorial_OutputMessage">
    <wsdl:part name="parameters" element="tns:getFactorialResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceClasses">
    <wsdl:operation name="getPersona">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceClasses/getPersona" message="tns:IServiceClasses_getPersona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceClasses/getPersonaResponse" message="tns:IServiceClasses_getPersona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getFactorial">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceClasses/getFactorial" message="tns:IServiceClasses_getFactorial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceClasses/getFactorialResponse" message="tns:IServiceClasses_getFactorial_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceClasses" type="tns:IServiceClasses">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getPersona">
      <soap:operation soapAction="http://tempuri.org/IServiceClasses/getPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFactorial">
      <soap:operation soapAction="http://tempuri.org/IServiceClasses/getFactorial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceClasses">
    <wsdl:port name="BasicHttpBinding_IServiceClasses" binding="tns:BasicHttpBinding_IServiceClasses">
      <soap:address location="http://localhost:54374/ServiceClasses.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>